body {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  color: #1ec4dc;
}

.content {
  display: flex;
  justify-content: center;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 1280px;
}

input {
  height: 40px;
  max-width: 300px;
  margin: auto;
  background-color: rgb(156, 156, 156);
}

.searchButton {
  width: 140px;
}