@media (max-width: 900px) {
  .sticky-footer {
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    width: 100%;
    background-color: #6644af;
  }
}

@media (min-width: 600px) {
  .sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    width: 100%;
    background-color: #6644af;  
  }
}

header {
  opacity: 80%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.header h1 {
  font-size: 100px;
  font-family: 'Pacifico', cursive;
  color: #6644af;
}

.content {
  padding-bottom: 200px;
}
