body {
  background-image: url('./images/popcorns-color.jpeg');
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}