body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  background-image: url('./images/popcorns-color.jpeg');
  font-size: 2rem;
  text-align: center;
}

h1, h2 {
  font-weight: 300;
}